/*header*/
header {
    background-color: #fff;
    margin: -0.5em -0.5em -0.5em -1em;
    box-shadow: 0 0.5125em 0.725em 0 rgba(0,0,0,.15);
    position: relative;
    display: flex;
    justify-content: space-between;
}

header img:first-of-type {
    max-height: 2.5em;
    margin: 0.5em 0.5em 0.5em 1em;
}

header a {
    text-decoration: none;
}
header h1 {
    font-family: nexa light;
    font-size: 1.1em;
    font-weight: 100;
    color: #00D66C;
    margin: 1em;
}

header div {
    display: flex;
}

/*zoek form*/
nav form {
    background-image:url(/Images/00_0L_GC_spring-break-banner.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -1em -0.5em -1em;
    content: attr(image/png);
}

nav form p {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav label[for=question] {
    color: #00d66c;
    font-family: nexa;
    font-size: 2.25em;
    font-weight: 500;
    padding-bottom: 0.2em;
    padding-top: 1em;
}

nav input[type=text] {
    border: 1px solid;
    border-radius: 0.5em;
    margin-top: auto;
    padding: 1em 1em;
}

nav input[placeholder] {
    font-family: nexa light;
    padding: 1em 9em 1em 9em;
    text-align: center;
    font-size: 1.2em;
}

nav form button {
    font-family: nexa;
    padding: 1em 4em 1em 4em;
    border-radius: 1.5em;
    background-color: #ff3268;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    border-style: none;
    color: #fff;
    font-family: nexa;
    margin-top: 2em;
    margin-bottom: 4em;
    font-size: 1em;
}

/*Navigatie*/
ul {
    display: flex;
    list-style: none;
    border-bottom-style: solid;
    border-bottom-color: #F8F7F7;
    margin: 0em -0.5em auto -1em;
    justify-content: space-around;
}

li a {
    padding-top: 0.9em;
    font-family: nexa;
    color: #00d66c;
    text-decoration: none;
}

.top {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: -0.5em 0em 1em -1em;
    background-color: #00D66C;
}

.top img {
    max-width: 50%;
    margin-bottom: 1em;
    justify-self: center
}

#stories .top .title {
    padding-top: 0.5em;
    grid-column: 1/4;
    font-family: nexa;
    color: aliceblue;
}

#stories nav {
    background-color: #F4E6D8;
    margin:-1.0em 0em 1em -0.5em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 1em

}

#stories nav h3 {
    padding-left: 1em;
    padding-top: 0.5em;
    font-family: nexa;
    margin-left: 2em;
    margin-bottom: auto;
    grid-column: 1/1;
    justify-self: start;
}

#stories nav button {
    padding: 1em 4em 1em 4em;
    border-radius: 4em;
    background-color: #00D66C;
    box-shadow: inset 0 -0.1875em 0.0625em #10874c;
    border-style: none;
    color: #fff;
    margin: 1em 5em;
    font-family: nexa;
}

#stories nav button:nth-of-type(1) {
    grid-column: 1/1;
}

/* index/aanbevolen vormgeving */
#stories h3  {
    color: #2c2f86;
    font-size: 1.6em;
    margin-top: auto;
    text-align: center;
}

#stories article {
    background-color: #fff;
    border: 0.5em solid;
    border-radius: 1em;
    margin: 1em 8em 1em 8em;
    padding-bottom: 2.8em;
    position: relative;
    border-color: darkgray;
}

#stories article h3 {
    margin-bottom: auto;
    margin-left: -10em;
    margin-top: 2.9em;
    text-align: center;
    font-family: nexa;
}

#stories p {
    margin-bottom: auto;
    margin-left: -15em;
    margin-top: auto;
    text-align: center;
    font-family: nexa light;
}

#stories article img {
    border-radius: 0em 1em 1em 0em;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 21.5%;

}

#stories, #categories {
    background-color:#fff;
    margin-left: -0.5em;
    padding-bottom: 2em;
    margin-right: -0.39em
}

/*Footer/social media*/
footer {
    background-color: #f7f7f7;
    margin: -1.3em -0.5em auto; -0.5em;
}

footer h4 {
    color: #2c2f86;
    text-align: center;
    font-family: nexa;
    padding-top: 1em;
}
footer>img {
    max-width: 30em;
    display: block;
    margin: auto;
}

/*Alzheimer pagina*/
#mobiel {
    visibility: hidden;
    display: inline;
}

#stories {
    display: block;
    margin: 1em auto 0em auto;
}

/*Inlog pagina*/

#inloggen {
    display: flex;
    flex-direction: row;
    justify-content:center;

}
#inloggen {
    background-color: #00D66C;
    margin-left: -0.5em;
    margin-right: -0.5em;
}

#inloggen  form:first-child fieldset {
    display: flex;
    position: relative;
    padding: 4em;
    padding-bottom: 10em;
    margin: 5em 0em 0em 0em;
    background-color: white;
    border-right: none;
    border-radius: 0.75em 0em 0em 0.75em;
}

#inloggen form:last-child fieldset {
    background-color: #f5f8fa;
    display: flex;
    position: relative;
    padding: 4em;
    margin: 5em 0em 5em 0em;
    border-left: none;
    border-radius: 0em 0.75em 0.75em 0em;

}

#inloggen legend {
    position: absolute;
    margin: -1.5em 0em 0em -1em;
    font-family: nexa;
    color: #2800a0;
    font-size: 1.5em;
    font-weight: 500;
}

#inloggen label {
    padding-top: 2em;
    margin:
}

#inloggen input[type=text] {

}








